<!DOCTYPE html>
<html lang="en">
<%- include("partials/header.ejs") %>

    <body>
        <div class="bg-gray-700">
        <%- include("partials/navbar.ejs") %>
            <div class="w-5/6 m-auto h-10">
                <% if (message) { %>
                    <div class="flex items-center justify-between p-4 mb-4 rounded-lg shadow text-white
              <%= message.type == 'success' ? 'bg-green-500' : 
                  message.type == 'danger'? 'bg-red-500' :'bg-blue-500' %>">
                        <strong>
                            <%= message.message %>
                        </strong>
                        <button class="text-white hover:text-gray-200 text-xl font-bold leading-none"
                            onclick="this.parentElement.remove()" aria-label="Close">
                            &times;
                        </button>
                    </div>
                    <% } %>
            </div>
            <% if(users !="" ) { %>
                <table class="w-5/6 m-auto border-collapse border border-gray-900">
                    <thead>
                        <tr class="bg-gray-900 text-white">
                            <th class="py-2 px-4 text-left">ID</th>
                            <th class="py-2 px-4 text-left">Name</th>
                            <th class="py-2 px-4 text-left">Email</th>
                            <th class="py-2 px-4 text-left">Phone</th>
                            <th class="py-2 px-4 text-left">Action</th>
                            <th class="py-2 px-4 text-left">Active</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% users.forEach((row,index)=> { %>
                            <% if(row.role == false){ %>
                            <tr class="bg-white border-b border-blue-500 hover:bg-gray-200 transition-all">
                                <td class="py-2 px-4"><%= index %></td>
                                <td class="py-2 px-4"><%= row.name %></td>
                                <td class="py-2 px-4"><%= row.email %></td>
                                <td class="py-2 px-4"><%= row.phone %></td>
                                <td class="py-2 px-2 flex items-center justify-evenly mt-4 gap-8"><a href="/admin/editpage/<%= row._id %>"><img src="/edit.png"
                                            alt=""></a><p><img src="/delete.png" alt="" onclick="deleteuser('<%= row._id%>')"></p></td>
                                <td class="py-2 px-4"><a href="/admin/active/<%= row._id %>"<%= row.status ==true ?'bg-green-500':'bg-red-500' %> onclick="status('<%= row._id%>','<%= row.status%>')">
                                <%= row.status==true? 'Active':'Inactive'%></a></td>

                            </tr>
                            <% }}) %>
                    </tbody>
                </table>
                <% } else { %>
                    <h1 class="text-center mt-5 text-5xl text-white">No users found in the database!..</h1>
                    <% } %>
                        <%- include("partials/footer.ejs") %>
                        </div>

    </body>
    <script>
        const deleteuser =async(id)=>{
            const response = await fetch(`/admin/delete/${id}`,{
                method:"DELETE",
            })
            const resjson =await response.json();  
           const con = confirm("are you sure?")       
           if(con == true)
           {
            if(resjson.success==true)
                {
                    alert("User Deleted!")
                    window.location.reload()
                } 
           }   else{
            alert("user not deleted!")
           }     
               
        }
        const status =async(id,status)=>{
            const newstat = status==false?true:false
            const res = await fetch(`/admin/active/${id}`,{
                method:"PATCH",
                headers:{"Content-Type":"application/json"},
                body:JSON.stringify({
                    status:newstat
                })
            })
            const data = await res.json()
            if(data.success==true)
            {
                alert("status Updated")
                window.location.reload();

            }
            else{
                alert("status not updated")
            }
        }
    </script>
</html>