<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/header.ejs') %>
</head>

<body>
    <div class="bg-gray-100 font-sans w-full h-full m-0">
        <div class="bg-white shadow">
            <div class="container mx-auto px-4">
                <div class="flex items-center justify-between py-4">
                    <div class="hidden sm:flex sm:items-center">
                        <a href="/admin/addhome"
                            class="text-gray-800 text-sm font-semibold hover:text-purple-600 mr-4">home</a>
                        <a href="/product/addproduct " class="text-gray-800 text-sm font-semibold hover:text-purple-600 mr-4">
                            add product</a>
                        <a href="#" class="text-gray-800 text-sm font-semibold hover:text-purple-600">Contact</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
           
        <div class="bg-gray-700">
            <div class="w-5/6 m-auto h-10">
                <% if (message) { %>
                    <div class="flex items-center justify-between p-4 mb-4 rounded-lg shadow text-white
              <%= message.type == 'success' ? 'bg-green-500' : 
                  message.type == 'danger'? 'bg-red-500' :'bg-blue-500' %>">
                        <strong>
                            <%= message.message %>
                        </strong>
                        <button class="text-white hover:text-gray-200 text-xl font-bold leading-none"
                            onclick="this.parentElement.remove()" aria-label="Close">
                            &times;
                        </button>
                    </div>
                    <% } %>
            </div>
            <% if(products !="" ) { %>
                <table class="w-5/6 m-auto border-collapse border border-gray-900">
                    <thead>
                        <tr class="bg-gray-900 text-white">
                            <th class="py-2 px-4 text-left">ID</th>
                            <th class="py-2 px-4 text-left">Name</th>
                            <th class="py-2 px-4 text-left">Brand</th>
                            <th class="py-2 px-4 text-left">Price</th>
                            <th class="py-2 px-4 text-left">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% products.forEach((row,index)=> { %>
                            <tr class="bg-white border-b border-blue-500 hover:bg-gray-200 transition-all">
                                <td class="py-2 px-4"><%= index %></td>
                                <td class="py-2 px-4"><%= row.name %></td>
                                <td class="py-2 px-4"><%= row.brand %></td>
                                <td class="py-2 px-4"><%= row.price %></td>
                                <td class="py-2 px-2 flex items-center justify-evenly mt-4 gap-8"><a href="/product/editpage/<%= row._id %>"><img src="/edit.png"
                                            alt=""></a><p><img src="/delete.png" alt="" onclick="deleteproduct('<%= row._id%>')"></p></td>
                            </tr>
                            <% }) %>
                    </tbody>
                </table>
                <% } else { %>
                    <h1 class="text-center mt-5 text-5xl text-white">No users found in the database!..</h1>
                    <% } %>
                        <%- include("partials/footer.ejs") %>
                        </div>                                  
                                            
</body>
<script>
        const deleteproduct =async(id)=>{
            const response = await fetch(`/product/delete/${id}`,{
                method:"DELETE",
            })
            const resjson =await response.json(); 
           const con = confirm("are you sure?")       
           if(con == true)
           {
            if(resjson.success==true)
                {
                    alert("product Deleted!")
                    
                    window.location.reload()
                } 
           }   else{
            alert("product not deleted!")
           }     
               
        }
    </script>
</html>